body {
    display:block;
}
main {
    display:flex;
}

main #sidebar {
    height:100vh;
    position:fixed;
    border-right: 1px solid #0096FF;
}

.logo {
    font-size:2rem;
}

hr:not([size]) {
    height: 1px;
}

hr {
    color: #0096FF;
    background-color: currentColor;
    border: 0;
    opacity: .25;
    width:100%;
}

.body {
    width:100%;
    margin-left:280px;
    flex:1;
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.dropdown-menu#dropdown-profile {
    top:-200%;
}

.drop-post{
    left:-300%;
    top:-230%;
}

.modal.fade.show {
    display:block;
    margin:auto;
    background-color: rgba(0,0,0,0.4);
}

@keyframes expand {
    0% {
        opacity: 0.3;
        height: 70%;
        width:50%;
        margin: 0 auto;
    }
    50% {
        opacity: 0.5;
        height: 80%;
        width: 75%;
        margin: 0 auto;
    }
    100% {
        opacity: 1;
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
}

#category, #location, #img_url {
    animation-name: expand;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-direction: alternate;
}

@keyframes shrink {
    100% {
        opacity: 0.3;
        height: 70%;
        width:50%;
        margin: 0 auto;
    }
    50% {
        opacity: 0.5;
        height: 80%;
        width: 75%;
        margin: 0 auto;
    }
    0% {
        opacity: 1;
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
}

.avatar-story .avatar-img {
    width:4rem;
    height:4rem;
}

.avatar-xs .avatar-img {
    width:3rem;
    height:3rem;
}

.avatar-xxl .avatar-img {
    width:7rem;
    height:7rem;
}

.card:last-of-type {
    margin-bottom:2rem;
}

.h-200px {
    height:14rem;
}

.settings-photo {
    width:8rem;
    height:8rem;
}

.like, .liked {
    border:0;
    background-color:transparent;
}


@keyframes like_anim {
    0% {
        height: 0.6;
        opacity: 0.5;
    }
    25% {
        height:100%;
        opacity:0.8;
        transform:rotate(40deg);
        color:#f00;
    }
    50% {
        height:130%;
        opacity:1;
    }
    75% {
        height:150%;
        opacity:1;
        transform: rotate(20deg);
        color:#008000;
    }
    100% {
        height:100%;
        opacity:1;
        transform: rotate(0deg);
        color:#007bff;
    }
}

.like {
    color: #6c757d;
}

.like-anim {
    animation-name: like_anim;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-direction: alternate;
}

.liked {
    color:#007bff;
}

button.nav-link.active.like:focus,
button.nav-link.active.liked:focus,
input button[type="submit"]:focus {
    outline:none;
}

img.notification{
    width:5rem;
    height:5rem;
    margin:0 1rem;
}

button[id^="send"]{

}

@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

.deleteanim {
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}