{% extends "network/layout.html" %}

{% block body %}
<div class="container m-auto">
    <div class="content-section">
        <h2>Password Reset Confirm</h2><hr>
        {% if message %}
            <div class="alert alert-info alert-dismissable">
            <i class="fa fa-coffee"></i>
            Sorry <strong>{{request.user.username}}</strong>, {{ message }}
            </div>
        {% endif %}
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <div class="col-md-8 mt-3">
                <button type="submit" class="btn btn-primary">Reset password</button>
                <span></span>
                <a href="{% url 'index' %}" class="btn btn-default">Back to Posts</a>
              </div>
        </form>
    </div>
</div>
{% endblock %}