{% extends "network/layout.html" %}

{% block body %}
<section class="text-center">
    <!-- Background image -->
    <div class="p-6 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 mb-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
      <div class="card-body py-5 px-md-5">

        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Register</h2>
            <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
              <!-- 2 column grid layout with text inputs for the username and mail -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" autofocus name="username" id="username" placeholder="Username" class="form-control" />
                    <label class="form-label" for="username">Username</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="email" id="email" name="email" placeholder="Email Address" class="form-control" />
                    <label class="form-label" for="email">Email address</label>
                  </div>
                </div>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="password" name="password" placeholder="Password" class="form-control" />
                <label class="form-label" for="form3Example4">Password</label>
              </div>

              <!-- Confirmation input -->
              <div class="form-outline mb-4">
                <input type="password" id="confirmation" name="confirmation" placeholder="Confirm Password" class="form-control" />
                <label class="form-label" for="confirmation">Confirm Password</label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Register
              </button>
            </form>
          </div>
        </div>
      </div>
    <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
    </div>
  </section>
{% endblock %}