{% extends "network/layout.html" %}

{% block body %}
<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="{{ profile_info.profile_photo }}" class="avatar rounded-circle settings-photo" alt="avatar">
        </div>
      </div>

      <!-- edit form column -->

      <div class="col-md-9 personal-info">
        {% if message %}
        <div class="alert alert-info alert-dismissable">
          <i class="fa fa-coffee"></i>
          Sorry <strong>{{request.user.username}}</strong>, {{ message }}
        </div>
        {% endif %}

        <h3>Personal info</h3>

        <form class="form-horizontal" action="{% url 'settings' %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="first_name" value="{{ user_info.first_name }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="last_name" value="{{ user_info.last_name }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Cover photo:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="cover_photo" value="{{ profile_info.cover_photo }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Profile photo:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="profile_photo" value="{{ profile_info.profile_photo }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="email" value="{{ user_info.email }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" name="username" value="{{ user_info.username }}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8">
              <a href="{% url 'password_change' %}" class="btn btn-info">Change password</a>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <button type="submit" class="btn btn-primary">Save Changes</button>
              <span></span>
              <a href="{% url 'index' %}" class="btn btn-default">Back to Posts</a>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
{% endblock %}